* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

.container {
    max-width: 1200px;
    margin: auto;
}

header {
    /* padding: 0 180px; */
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

header .header__content {
    /* width: 100%; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content nav ul {
    display: flex;
    padding-right: 30px;
}

.header__content nav ul li {
    list-style: none;
    padding: 55px 15px;
}

.header__content nav a {
    color: #070120;
    text-decoration: none;
}

.header__content nav a span {
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    transition: all .5s;
}

.header__content nav a i {
    font-size: 9px;

    /* chỉnh icon lên ngang hàng chữ  */
    margin-top: -3px;
    vertical-align: middle;
}

.header__content nav li:hover a {
    color: #f55f8d;
}

.header__content nav li:hover span {
    animation: upToDown .3s forwards;
}

.btn-grad {
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    color: #fff;
    background-size: 200%;
    padding: 20px 35px;
    font-family: Arial, sans-serif;
    font-size: 15px;
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s;
}

.btn-grad:hover {
    background-position: right center;
}

@keyframes upToDown {
    49% {
        transform: translateY(100%);
    }

    50% {
        opacity: 0;
        transform: translateY(-100%);
    }

    51% {
        opacity: 1;
    }
}

/* Start carousel  */
.carousel {
    background-image: url(./Samar/pic2.png);
    background-position: top;
    background-size: 100%;
    /* background-repeat: no-repeat; */
    padding-top: 180px;
    overflow: hidden;
}

.carousel__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__left {
    width: 60%;
}

.left__title p,
.service__title p,
.about__right .about__title p,
.feature__left .feature__title p,
.portfolio__title p,
.plan__title p,
.testimonial__title p,
.blog__title p {
    color: #f55f8d;
    font-size: 1.375rem;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.8;
}

.left__title h2,
.service__title h2,
.about__title h2,
.feature__title h2,
.portfolio__title h2,
.plan__title h2,
.testimonial__title h2,
.blog__title h2 {
    color: #262626;
    font-size: 4.375rem;
    font-weight: 700;
    margin-bottom: 20px;
    word-spacing: 1px;
    line-height: 1.1;
}

.left__content {
    color: #636363;
}

.left__content p {
    font-size: 1.125rem;
    margin-bottom: 15px;
    line-height: 1.6;
}

.left__content ul {
    margin-bottom: 20px;
    list-style: none;
}

.left__content ul li {
    font-size: 1.25rem;
    padding: 10px 5px 10px 0;
}

.left__content li i {
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    color: #fff;
    background-size: 200%;
    margin-right: 15px;
    height: 35px;
    width: 35px;
    border-radius: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 1.5rem;
}

.carousel__right {
    width: 40%;
}

.right__content {
    margin-left: 50px;
    animation-name: fadeInUpBig;
    animation-delay: 3s;
    animation-duration: 3s;
}

/* End carousel  */

/* Start Service  */
.service {
    background-image: url(./Samar/bg2.png);
    padding: 115px;
    background-size: cover;
    background-position: top center;
    text-align: center;
}

.service__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.service__item {
    background: #FFFFFF;
    color: #636363;
    padding: 30px 45px;
    border-radius: 10px;
    box-shadow: 0 0 50px 0 rgb(0 0 0 / 10%);
    transform: translateY(0);
    transition: all .5s;
}

.service__item img {
    width: 220px;
}

.service__item h3 {
    color: #262626;
    font-size: 1.5rem;
    margin: 15px 0;

}

.service__item p {
    word-wrap: break-word;
    line-height: 1.7;
}

.service__item:hover {
    transform: translateY(-20px);
}

/* End Service  */

/* Start about  */
.about {
    background-image: url(./Samar/bg15.png);
    background-size: 100%;
    background-position: center right;
    background-repeat: no-repeat;
    padding-bottom: 85px;
}

.about__content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.about__left {
    /* border: 2px solid salmon; */
    position: absolute;
    left: -17%;
    width: 60%;
    animation-name: fadeInLeft;
    animation-duration: 2s;
    animation-delay: .2s;
}

.about__left img {
    width: 100%;
    border-radius: 0 100px 100px 0;
}

.about__right {
    /* border: 2px solid green; */
    width: 50%;
    animation-name: fadeInRight;
    animation-duration: 2s;
    animation-delay: .2s;
}

.about__right p {
    color: #636363;
    margin-bottom: 15px;
    line-height: 1.6;
}

.about__right ul {
    color: #636363;
    list-style: none;
    margin-bottom: 30px;
}

.about__right ul li {
    padding-bottom: 15px;
}

.about__right ul li i {
    color: #f55f8d;
    font-size: 15px;
    height: 25px;
    width: 25px;
    border-radius: 25px;
    border: 2px solid #f55f8d;
    text-align: center;
    margin-right: 10px;
    margin-top: 1px;
    vertical-align: middle;
}

/* End about  */

/* Start number count up  */
.number {
    background-image: url(./Samar/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 80px 0 50px;
}

.number__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.number__item i {
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    color: rgb(255, 255, 255);
    background-size: 200%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin-bottom: 15px;
    border-radius: 50%;
    font-size: 40px;
    display: inline-block;
}

.number__item p:first-of-type {
    color: #f55f8d;
    font-size: 65px;
    font-weight: bold;
}

.number__item p:last-of-type {
    color: #262626;
    font-size: 18px;
}

/* End number count up  */

/* Start Feature  */
.feature {
    color: #636363;
    background-image: url(./Samar/bg2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 115px;
}

.feature__content {
    display: flex;
}

.feature__left,
.feature__right {
    width: 50%;
}

.feature__title {
    animation-name: fadeInLeft;
    animation-duration: 2s;
    animation-delay: 0.2s;
}

.feature__item:nth-of-type(1) {
    padding: 0 50px 30px 0;
    animation-name: fadeInRight;
    animation-duration: 2s;
    animation-delay: .4s;
}

.feature__item:nth-of-type(2) {
    padding: 0 0 30px 50px;
    animation-name: fadeInRight;
    animation-duration: 2s;
    animation-delay: .6s;
}

.feature__item:nth-of-type(3) {
    padding: 0 50px 30px 0;
    animation-name: fadeInRight;
    animation-duration: 2s;
    animation-delay: .8s;
}

.feature__item .item__content {
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    position: relative;
}

.item__content .item__left {
    color: #f55f8d;
    font-size: 75px;
    line-height: 1;
    padding-right: 25px;
    z-index: 1;
    transition: all 1s;
}

.item__content .item__right {
    z-index: 1;
    transition: all 1s;
}

.item__content .item__right h3 {
    color: #262626;
    font-size: 1.5rem;
    transition: all 1s;
}

.item__content .item__right p {
    padding-top: 7px;
    line-height: 1.6;
}

.feature__right .feature__img {
    margin-right: -80px;
}

.feature__img img {
    width: 100%;

    /* the movement of the image  */
    animation: movement 5s infinite;
}

@keyframes movement {
    0% {
        transform: rotate(1deg) translate(2px, 2px);
    }

    50% {
        transform: rotate(-1deg) translate(-2px, -2px);
    }

    100% {
        transform: rotate(1deg) translate(2px, 2px);
    }
}

.feature__item .item__content::after {
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    opacity: 0;
    transition: all 1s;
}

.feature__item .item__content:hover::after {
    opacity: 1;
}

.item__content:hover .item__right,
.item__content:hover .item__right h3,
.item__content:hover .item__left {
    color: #fff;
}

/* End Feature  */

/* Start Portfolio  */
.portfolio {
    background-image: url(./Samar/bg17.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding-top: 115px;
}

.portfolio__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 1.5fr;
    gap: 35px;
}

.portfolio__item {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.portfolio__item::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
    transition: all 0.75s;
}

.portfolio__item:hover::before {
    left: 125%;
}

.portfolio__item img {
    width: 100%;
    height: 100%;
}

.portfolio__content .item__pic1 {
    display: grid;
    grid-column: 1 / span 2;
    animation-name: fadeInUp;
    animation-duration: 2s;
}

.portfolio__content .portfolio__item:nth-of-type(2) {
    animation-name: fadeInUp;
    animation-duration: 2s;

}

.portfolio__content .portfolio__item:nth-of-type(3),
.portfolio__content .portfolio__item:nth-of-type(4) {
    animation-name: fadeInUp;
    animation-delay: 1s;
    animation-duration: 2s;
}

.portfolio__content .item__pic5 {
    display: grid;
    grid-column: 1 / span 2;
    animation-name: fadeInUp;
    animation-delay: 2s;
    animation-duration: 2s;
}

.portfolio__content .item__pic6 {
    display: grid;
    grid-column: 3 / 4;
    grid-row: 2 / span 2;
    animation-name: fadeInUp;
    animation-delay: 1s;
    animation-duration: 2s;
}

.portfolio__item .overplay {
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .75s;
}

.portfolio__item:hover .overplay {
    opacity: 1;
}

.portfolio__item .folio__icon {
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    position: absolute;
    top: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    line-height: 60px;
    background-size: 200%;
    border-radius: 10px;
    transform: translate(20px, -20px);
    transition: all .75s;
}

.portfolio__item:hover .folio__icon {
    transform: translate(0);
}

.folio__icon a {
    cursor: pointer;
}

.folio__icon i {
    color: #fff;
    font-family: "Line Awesome Free";
    font-size: 2rem;
    font-weight: 700;
}

.portfolio__item .folio__text {
    color: #fff;
    position: absolute;
    bottom: 35px;
    left: 25px;
    text-align: left;
    transform: translate(0, 85px);
    transition: all .75s;
}

.portfolio__item:hover .folio__text {
    transform: translate(0);
}

.folio__text h3 {
    font-size: 1.375rem;
    font-weight: 700;
    padding-bottom: 7px;
}

.folio__text p {
    opacity: .7;
}

/* End Portfolio  */

/* Start plan  */
.plan {
    background-image: url(./Samar/bg16.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 115px;
}

.plan__content {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.plan__item {
    background-color: #FFF;
    box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
    padding: 35px 60px;
    border-radius: 8px;
    border: 3px solid transparent;
    transition: all .5s;
    border-image: 100 round;
}

.plan__item:hover {
    border-image: url(./Samar/br.png) 1 round;
}

.plan__item h3 {
    color: #262626;
    font-size: 2rem;
}

.plan__item img {
    width: 125px;
    padding-bottom: 12px;
}

.plan__item p {
    border-bottom: 1px solid #e1e1f0;
    color: #262626;
    font-size: 1.125rem;
    font-weight: bold;
    padding-bottom: 10px;
}

.plan__item span {
    color: #f8ae56;
    font-size: 3.125rem;
    font-weight: bold;
}

.plan__item ul {
    list-style: none;
    padding: 15px 0;
    text-align: left;
}

.plan__item ul li {
    color: #262626;
    font-size: 1.125rem;
    padding: 5px 0;
    font-weight: 400;
    line-height: 30px;
}

.plan__item ul i {
    background-color: #feeff3;
    color: #f55f8d;
    width: 26px;
    height: 26px;
    border-radius: 500%;
    line-height: 26px;
    text-align: center;
    margin-right: 15px;
    font-size: 12px;
}

/* End plan  */

/* Start testimonial  */
.testimonial {
    background-image: url(./Samar/bg17.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 115px;
}

.testimonial__content {
    max-width: 1199px;
    margin: auto;
    text-align: center;
}

/*==========================SLIDER IMAGE=============================*/
.testimonial-thumbs {
    width: 300px;
    height: 170px;
    margin: auto;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.testimonial-thumbs .testimonial-pic {
    padding: 30px 0 0;
    transition: all 0.5s;
}

.testimonial-thumbs .testimonial-pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 4px;
    position: relative;
    z-index: 2;
    background-color: #f55f8d;
}

.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
    padding: 0 0 40px;
}

/* Start-Blur to the left and to the right  */
.testimonial-thumbs::before {
    left: 0;
    background: linear-gradient(to right, #fff 0, rgba(255, 255, 255, 0) 100%);
}

.testimonial-thumbs::after {
    right: 0;
    background: linear-gradient(to left, #fff 0, rgba(255, 255, 255, 0) 100%);
}

/* End-Blur to the left and to the right  */

.testimonial-thumbs::after,
.testimonial-thumbs::before {
    content: "";
    width: 30px;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 2;
}

/* Start-Create dots and adjust the postion of dots  */
.testimonial-pic::before {
    height: 15px;
    width: 15px;
    bottom: 30px;
}

.testimonial-pic::after {
    height: 10px;
    width: 10px;
    bottom: 0;
}

.testimonial-pic::after,
.testimonial-pic::before {
    background-color: #f55f8d;
    content: "";
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.swiper-slide-thumb-active .testimonial-pic::after,
.swiper-slide-thumb-active .testimonial-pic::before {
    opacity: 1;
}

/* End-Create dots and adjust the postion of dots  */


/* Make active template of the image which is chosen*/
.testimonial-pic .shape-bx {
    background-color: #f55f8d;
    transform: translateX(-50%);
    height: 35px;
    width: 50px;
    position: relative;
    left: 50%;
    bottom: 18px;
    opacity: 0;
    transition: all 1s;
}

/* Slash and shape for the template  */
.testimonial-pic .shape-bx::before {
    background-image: url(./Samar/pattern12.png);
    background-position: bottom;
    background-size: contain;
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 1s;
}

.swiper-slide-thumb-active .testimonial-pic .shape-bx {
    opacity: 1;
}

/*==========================SLIDER IMAGE=============================*/

/* ==========================SLIDER COMMENT=============================*/
.testimonial-comment {
    min-height: 300px;
    width: 100%;
    overflow: hidden;
}

.testimonial-comment .swiper-wrapper {
    padding-bottom: 20px;
}

.testimonial__text {
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
    background-color: #fff;
    text-align: center;
    border-radius: 10px;

    padding: 30px;
    margin: 0 auto;

    position: relative;
    max-width: 770px;
}

/* Adjust the icon in the left corner comment form */
.testimonial__text i {
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 95px;
    color: #f55f8d;
    transform: rotate(-180deg);
}


.testimonial__name {
    color: #000;
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 5px;
}

.testimonial__text .testimonial__position {
    color: #f55f8d;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.testimonial__text p {
    color: #636363;
    font-size: 1.125rem;
    font-weight: 400;
    font-style: italic;
    line-height: 28px;
    padding: 0 15px 15px;
}

/* ==========================SLIDER COMMENT=============================*/
/* Show off dots in the end  */
.swiper-pagination-bullets.swiper-pagination-horizontal,
.testimonial .swiper-horizontal > .swiper-pagination-bullets {
    bottom: auto;
}

.swiper-pagination-bullet-active {
    background: #f55f8d;
}

/* End testimonial  */

/* Start blog  */
.blog {
    background-image: url(./Samar/bg16.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding: 115px 0 50px 0;
}

.blog__item {
    background: rgba(245,95,141,.1); 
    border-radius: 8px;
    text-align: left;
    overflow: hidden;
}

.blog__item .item__title {
    position: relative;
}

.blog__item .item__title img {
    border-radius: 8px;
}

.blog__item .item__title p {
    color: #fff;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    position: absolute;
    bottom: -20px;
    left: 15px;
    font-size: 14px;
    padding: 13px 20px;
    border-radius: 5px;
}

.blog__item .item__substance {
    padding: 30px 15px 20px 15px;
    margin-bottom: 20px;
    line-height: 1.4;
}

.blog__item .item__substance h3 {
    color: #262626;
    font-size: 1.5rem;
    font-weight: 700;
}

.blog__item .item__substance p {
    color: #636363;
}

.blog__item .item__footer {
    border-top: 1px solid rgba(0,0,0,.05);
    color: #636363;
    display: flex;
    padding: 15px;
    align-items: center;
    font-size: 14px;
}

.blog__item .item__footer p:first-of-type {
    margin-right: 20px;
}

.blog__item .item__footer p:first-of-type i,
.blog__item .item__footer p:last-of-type i {
    color: #f55f8d;
    font-size: 22px;
    vertical-align: sub;
}

.blog__item .item__footer p:first-of-type span {
    color: #f55f8d;
}
/* End blog  */

/* Start footer  */
/* ===========================FOOTER_TOP=========================  */
footer {
    background-color: #0e1b1f;
    background-image:  url(./Samar/bg4.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: block;
    height: auto;
}

footer::before {
    background-image: url(./Samar/pattern2.png);
    background-size: contain;
    background-position: left top;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer__top {
    background-color: #fff;
    background-image: url(./Samar/pattern3.png);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 50px 60px;
    display: flex;
    border-radius: 10px;
    animation-name: fadeInUp;
    animation-duration: 2s;
    animation-delay: 0ms;
    position: relative;
}

.footer__top, .footer__bottom, .copyrights__content {
    width: 79%;
    margin: auto;
}

.footer__title {
    width: 50%;
}

.footer__title h2 {
    font-size: 1.75rem;
}

.footer__form {
    width: 50%;
}

.footer__form form {
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    border-radius: .5rem;
    display: flex;
}

.footer__form form input {
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 20px;
    border-radius: .5rem 0 0 .5rem;
    font-size: 15px;
    flex: 1 1 auto;
    transition: all .5s;
}

.footer__form form input:hover {
    border-color: #f55f8d;
}

.footer__form form button {
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border: none;
    padding: 20px 35px;
    border-radius: 0 .5rem .5rem 0;
    cursor: pointer; 
    transition: all .5s;
}

.footer__form form button:hover {
    background-position: right center;
}

.footer__form form button i {
    color: #FFFFFF;
    font-size: 20px;
}

.footer__form form button:hover i {
    animation: leftToRight;
    animation-duration: .5s;
}

@keyframes leftToRight {
    49% {
        transform: translateX(100%);
    }
    50% {
        opacity: 0;
        transform: translateX(-100%);
    }
    51% {
        opacity: 1;
    }
}

/* ===========================FOOTER_BOTTOM=========================  */
.footer__bottom {
    padding: 70px 0;
    display: flex;
    position: relative;
}

.footer__item {
    color: #fff;
    width: 25%;
    animation-name: fadeIn;
    animation-duration: 5s;
    animation-delay: 1s;
}

.footer__item img {
    padding-bottom: 8px;
}

.footer__item ul li {
    padding: 10px 0;
    list-style: none;
}

.footer__item ul li a {
    color: #636363;
    text-decoration: none;
    transition: all .5s;
}

.footer__item ul li a:hover {
    color: #fff;
}

.footer__item i {
    margin-right: 10px;
}

/* Item contact (first)  */
.footer__item .footer__contact li {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}

.footer__item .footer__contact i {
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
}

/* Other item  */
.footer__item h3 {
    padding-bottom: 13px;
    margin-bottom: 35px;
    font-size: 1.5rem;
    position: relative;
}

.footer__item h3::before {
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15px;
    height: 4px;
    border-radius: 10px;
}

.footer__item h3::after {
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 45px;
    height: 4px;
    border-radius: 10px;
}

/* Copy right apart  */
.footer__copyrights {
    color: #fff;
    background: #1F343B;
    padding: 10px 0;
    font-size: .9375rem;
    position: relative;
}

.copyrights__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyrights__left span {
    color: #f55f8d;
}

.copyrights__right ul {
    display: flex;
}

.copyrights__right li {
    background-color: rgba(255,255,255,.1);
    list-style: none;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    text-align: center;
    margin-right: 3px;
    transition: all .5s;
}

.copyrights__right li a {
    color: #fff;
}

.copyrights__right li:hover {
    background: #f55f8d;
}
/* End footer  */

/* Start back to top  */
.backToTop {
    box-shadow: -4px 4px 24px -10px #f55f8d;
    color: #fff;
    background: #f55f8d;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: fixed;
    right: 15px;
    bottom: 15px;
    border-radius: 8px;
    visibility: hidden;
    opacity: 0;
}

.cd-top--is-visible { 
    visibility: visible;
    opacity: 1;
}
/* End back to top  */